.nav-link {
    font-style: inherit;
    color: white;
    margin-left: 10px;
    
 }

 .informacion{
     background-color: #212529;
     color: white;
     text-align: center;
 }
 


 .nave-item {
    display: flex;
    flex-wrap: wrap; 
}

.btn{
    margin: auto;
    margin-right: 10%;
}
.img{
    width: 40px;
    height: 30px;
}

.redesde{
    margin-left: 30px;
    margin-top: 10px;
}

.nevereg{
    padding-left: 1px;
}

button{
    width: 120px;
    height: 40px;
}

.links{
    margin-left: 10px;
    margin-top: 40px;
    color: black;
}
.imgredes{
    width: 15px;
    height: 20px;
    margin-left: 30px;
    margin-right: 8px;
    margin-bottom: 5px;
    margin-top: 4px;
}

.col-sm-4{
    margin-top: 20px;
    padding-bottom: 30px;
}

.nombres{
    color: black;
}

.nombres:hover{
    color: white;
}

.damas{
    margin-left: 12px;
    margin-top: 5px;
    color: black;
}

.links:hover{
    color: white;
}

.damas:hover{
    color: white;
}
.nave{
    margin-left: 780px;
}
@media screen and (min-width: 900px ) and (max-width: 1136px ){
    .nave{
        margin-left: 380px;
      }
}

@media screen and (min-width: 1100px )and (max-width: 1250px ) {
    .nave{
        margin-left: 500px;
      }
}

@media screen and (min-width: 1250px )and (max-width: 1350px ) {
    .nave{
        margin-left: 600px;
      }
}

@media screen and (min-width: 1350px )and (max-width: 1435px ) {
    .nave{
        margin-left: 700px;
      }
}

* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#212529;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.nav{
    margin-left: 850px;
}

.imgRedonda{
    width: 60px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    }